<h1 style="text-align: center;"><img src="https://fontmeme.com/permalink/200822/3a198f8048f410f6bd0bcc0d2558241d.png" alt="monsters-attack-empire-of-the-claw-font"></h1>

<div>
  <% if (armors) { %> <% armors.forEach(a =>{%>
  <h2><a href="/armor/<%= a.id %>"> <%= a.name %> </a></h2>
    <p>Armor rank: <%= a.rank %></p>
  
  <form method="POST" action="/aFave">
    <input hidden type="text" name="name" value="<%= a.name %>" />
    <input hidden type="text" name="apiId" value="<%= a.id %>" />
    <button href="/views/<%= a.name%>" class="btn btn-primary" type="submit">
      Add to Favorites
    </button>
  </form>

  <% }) %> <% } else { %>
  <h2>No armors to show</h2>
  <% } %>
</div>
