<h1>Armors page</h1>

<div>
  <% if (armors) { %> <% armors.forEach(a =>{%>
  <h3><a href="/armor/<%= a.id %>"> <%= a.name %> </a></h3>
    <p>Armor rank: <%= a.rank %></p>
  
  <form method="POST" action="/aFave">
    <input hidden type="text" name="name" value="<%= a.name %>" />
    <input hidden type="text" name="apiId" value="<%= a.id %>" />
    <button href="/views/<%= a.name%>" class="btn btn-primary" type="submit">
      Add to Favorites
    </button>
  </form>

  <% }) %> <% } else { %>
  <h2>No armors to show</h2>
  <% } %>
</div>
