<h1>Your Favorite Monsters</h1>

<h3>Here is the Monsters you've added Hunter</h3>
<ul>
  <% monsters.forEach(m =>{ %>
  <a href="/monster/<%= m.apiId %>">
    <h3><li><%= m.name %></li></h3>
  </a>
  <form method="POST" action="/mfave/<%= m.id %>/?_method=PUT ">
    <label>Rename:</label>
    <input type="text" name="name" value="<%= m.name %> " />
    <button type="submit">Edit/Update</button>
  </form>

  <form method="Post" action="/mFave/<%= m.id %>/?_method=DELETE">
    <button type="submit">Delete</button>
  </form>
  <% }) %>
</ul>
