
<h1>Weapons page</h1>

<div>
  <% if (weapons) { %> 
    <% weapons.forEach(w =>{%>
  <h3>Weapon Type: <%= w.type %></h3>
  <a href="/weapon/<%= w.id %>">
    <p><%= w.name %></p>
    </a>
    
    <form method="POST" action="/favorites">
      <input hidden type="text" name="name" value="<%= w.name %>">
      <button href="/views/<%= w.id%>" class="btn btn-primary" type="submit">Add to Favorites</button>
    </form>

  <% }) %> 
  <% } else { %>
    <h2>No weapons to show</h2>
 <% } %>
</div>

