<h1 style="text-align: center;"><img src="https://fontmeme.com/permalink/200822/2815562eae1423864e91344eb8fa3687.png" alt="monsters-attack-empire-of-the-claw-font"></h1>

<div>
  <% if (weapons) { %> <% weapons.forEach(w =>{%>
  <a href="/weapon/<%= w.id %>">
    <h2><%= w.name %></h2>
  </a>

  <form method="POST" action="/wepFave">
    <input hidden type="text" name="name" value="<%= w.name %>" />
    <input hidden type="text" name="apiId" value="<%= w.id %>" />
    <button href="/views/<%= w.name%>" class="btn btn-primary" type="submit">
      Add to Favorites
    </button>
  </form>

  <% }) %> <% } else { %>
  <h2>No weapons to show</h2>
  <% } %>
</div>
