<h1>Monsters page</h1>

<div>
  <% if (monsters) { %> <% monsters.forEach(m =>{%>
  <a href="/monster/<%= m.id %>">
    <h3><%= m.name %></h3>
  </a>
  <p>Species: <%= m.species %></p>

  <form method="POST" action="/mFave">
    <input hidden type="text" name="name" value="<%= m.name %>" />
    <input hidden type="text" name="apiId" value="<%= m.id %>" />
    <button href="/views/<%= m.name%>" class="btn btn-primary" type="submit">
      Add to Favorites
    </button>
  </form>
  <% }) %> <% } else { %>
  <h2>No monsters to show</h2>
  <% } %>
</div>
