<h1 style="text-align: center;"><img src="https://fontmeme.com/permalink/200822/8c43cdf86dc32acf24e13302834069a8.png" alt="monsters-attack-empire-of-the-claw-font"></h1>

<div >
  <% if (monsters) { %> <% monsters.forEach(m =>{%>
  <a href="/monster/<%= m.id %>">
    <h2><%= m.name %></h2>
  </a>
  <p>Species: <%= m.species %></p>

  <form method="POST" action="/mFave">
    <input hidden type="text" name="name" value="<%= m.name %>" />
    <input hidden type="text" name="apiId" value="<%= m.id %>" />
    <button href="/views/<%= m.name%>" class="btn btn-primary" type="submit">
      Add to Favorites
    </button>
  </form>
  <% }) %> <% } else { %>
  <h2>No monsters to show</h2>
  <% } %>
</div>
